<div class="section">
  <div class="container">
    <h1>{{ blog_post.title }}</h1>
    <div>
      {% if blog_post.tags.size > 0 %}
        {% for tag in blog_post.tags %}
          <a href="{{ current_site.url }}/blog?tag={{ tag | url_encode }}">{{ tag }}</a>
        {% endfor %}
      {% else %}
        Uncategorized
      {% endif %}
      <p kjb-settings-id="{{ 'show_date' | settings_id: section: section }}">{{ blog_post.created_at | date: "%b %d, 20%y" }}</p>
      {{ v | wistia_video: player_color: settings.color_primary, still_url: blog_post.image_url, playerPreference: "html5" }}
      {{ blog_post.content }}
    </div>
  </div>
</div>
