{% layout "minimal" %}
<div class="section">
  <div class="container">
    <h1>{{ settings.recover_text }}</h1>
    {% form 'forgot_password' %}
      {% if form.errors.messages['form'] %}
        <div>{{ form.errors.messages['form'] }}</div>
      {% endif %}
        <label for="member_email" kjb-settings-id="email_text">{{ settings.email_text }}</label>
        <input autofocus="autofocus" type="email" value name="member[email]" id="member_email" value="{{ form.email }}" />
        {% if form.errors.messages['email'] %}
          <div>{{ form.errors.messages['email'] }}</div>
        {% endif %}
      <input class="btn" type="submit" name="commit" value="{{ settings.recovery_text }}"/>
    {% endform %}
    {{ settings.login_text | member_login_link }}
  </div>
</div>
