{% layout "minimal" %}
<div class="section">
  <div class="container">
    <h1>{{ settings.reset_text }}</h1>
    {% form 'forgot_password_edit' %}
      {% if form.errors.messages['reset_password_token'] %}
        <div>{{ form.errors.messages['reset_password_token'] }}</div>
      {% elsif form.errors.messages['form'] %}
        <div>{{ form.errors.messages['form'] }}</div>
      {% endif %}
        <label for="member_password">{{ settings.new_password }}</label>
        <input autofocus="autofocus" type="password" name="member[password]" id="member_password" />
        {% if form.errors.messages['password'] %}
          <div>{{ form.errors.messages['password'] }}</div>
        {% endif %}
        <label for="member_password_confirmation">{{ settings.confirm_password }}</label>
        <input type="password" name="member[password_confirmation]" id="member_password_confirmation" />
        {% if form.errors.messages['password_confirmation'] %}
          <div>{{ form.errors.messages['password_confirmation'] }}</div>
        {% endif %}
      <input class="btn" type="submit" name="commit" value="{{ settings.reset_btn }}"/>
    {% endform %}
    {{ settings.login_text | member_login_link }}
  </div>
</div>
